body {
  background: #e9ecef;
  min-height: 100vh;
}
.container {
  font-size: 1rem;
  color: #666;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
.container-body {
  max-width: 350px;
}

.form-group {
  display: flex;
}

.form-group i {
  margin-left: -30px;
  margin-top: 8px;
}

input .form-check-input {
  color: red !important;
}

/* creating a custom checkbox based
            on demand */
.geekmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  /* background-color: green; */
}
